:root{
    --cor-background-top: #20bf6b;
    --cor-background-bottom: #0fb9b1;
    --shadow: rgba(0, 0, 0, 0.493);
    --cor-copy: white;
    --cor-after: #3ae374;
}

*{
    padding: 0;
    margin: 0;
}

html{
    width: 100%;
    height: 100%;
    background-color: var(--cor-background-top);
}

body{
    transition: 1s ease;
    font: normal 300 2rem 'Bebas Neue', cursive;
    display: grid;
    justify-items: center;
    background: linear-gradient(to bottom, var(--cor-background-bottom) 30%, var(--cor-background-top));
}

header{
    margin: 2vh 1vw 0 1vw;
    color: var(--cor-after);
    position: relative;
}

header::after{
    content: ' ';
    width: 100%;
    height: 4px;
    position: absolute;
    background: var(--cor-after);
}

section{
    width: 500px;
    background: white;
    box-shadow: 3px 3px 13px var(--shadow);
    border-radius: 10px;
    margin: 3vh 0;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

footer{
    font-family: Arial;
    color: var(--cor-copy);
    margin-bottom: 20px;
}

footer, header{
    text-shadow: -3px 3px 3px var(--shadow);
}

/* -- Media -- */

@media(max-width: 650px){
    section{
        width: 80vw;
    }
}

@media (max-width: 450px) {

}

.entrada{
    display: flex;
    flex-direction: column;
    width: 52%;
    height: 100%;
}

.entrada > label{
    display: flex;
    align-items: center;
}

.entrada > label > input{
    margin: 0 0 0 13px;
}

.btn{
    width: 30%;
}

